.header {
    width: 100%;
    background: brown;

    .header-container {
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display:flex; 
        justify-content: space-between;

        .header-links {
            display:flex;
            gap: 10px;
        }
        
    }
}

.header-links a.active {
    background-color: black;
}
